.userInfo{
    height: 50px;
    /* background-color: blanchedalmond; */
}

.userName{
    /* background-color: aquamarine; */
    margin-left: 20px;
    width: 180px;
    height: 50px;
    font-family: 나눔스퀘어,맑은고딕,NanumGothic;
    font-weight: 900;
    font-size: 30px;
    float: left;
}

.namestodo{
    font-family: 나눔스퀘어,맑은고딕,NanumGothic;
    font-weight: 600;
    font-size: 20px;
    float: left;
    height: 50px;
    line-height: 50px;
}